<!DOCTYPE html>

<html>
    <head>
        <title>404</title>
        <link rel="icon" href="/img/weather.png">

        <!-- relative path -->
        <link rel='stylesheet' href='/css/style.css'>
        <!-- absolute path -->
    </head>

    <body>
        <div class='main-content'>
            {{>header}}
            <h1>{{errorMsg}}</h1>
        </div>

        {{>footer}}
    </body>
</html>